@using App.Data
@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if(User.IsInRole(RoleName.Editor) || User.IsInRole(RoleName.Administrator)){
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Statistics" asp-controller="PostStat" asp-action="Index">Blog cá nhân</a>
            </li>
        </ul>
    }
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity"  asp-controller="Manage" asp-action="Index" title="Manage">Xin chào @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link text-light" style="text-decoration: none;">Đăng xuất</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    </ul>
}